<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="MiPay GPay"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">

        <!-- LSPosed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedmodname"
            android:value="MiPay GPay" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <!-- LSPosed 作用域 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- Socket Service：在模块进程运行，监听本地端口 -->
        <service
            android:name=".NfcSocketService"
            android:exported="true"
            android:enabled="true" />

        <!-- 开机广播接收器：启动 Socket Service -->
        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
