<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="MiPay GPay"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false">

        <!-- LSPosed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedmodname"
            android:value="MiPay GPay" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

        <!-- LSPosed 作用域 -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <!-- 前台 Service：在 :nfc_switcher 进程执行 su 命令 -->
        <service
            android:name=".NfcFgService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
            android:process=":nfc_switcher">
            <intent-filter>
                <action android:name="com.mipay.gpay.lsp.ACTION_SWITCH_TO_WALLET" />
                <action android:name="com.mipay.gpay.lsp.ACTION_RESTORE_NFC" />
                <action android:name="com.mipay.gpay.lsp.ACTION_START_FOREGROUND" />
            </intent-filter>
        </service>

    </application>

</manifest>
